// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-message > p > a:hover {
  color: #FFFFFF!important;
  background-color: #009c7b;
  text-decoration: none;
  font-weight: bold;
}

.welcome-message > p > a:visited {
  color: #428BCA;
  font-weight: bold;
}

.welcome-message > p > a {
  color: #428BCA;
  font-weight: bold;
}

.random-recipe {
  width: 80%;
  margin: auto;
  border: 1px dotted #000000;
  background-color: #009c7b;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.random-recipe > h2 {
  margin: 5px;
}

.random-recipe > table {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  color: #2E2F30;
}

th {
  text-align: center !important;
  font-size: 16px;
}
